{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Réinitialisation de mot de passe !</h1>
    <br>
    <form action="{{ path('password_recover')}}" method="post">
        
    {{ form_start(form) }}
    {{ form_row(form.email, {'label': 'Adresse mail', 'attr': {'placeholder': 'Votre adresse email ... '}}) }}
    <br>
    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}
    <br>
</div>
{% endblock body %}

{% block footer %}
<br>
<footer class="text-muted">
    <div class="container">
        <a href="{{ path('home', {'_fragment':'home'}) }}" class="btn btn-outline-warning btn-sm float-right">Retour</a>
        <p>Site construit à l'aide de Bootstrap &copy; {{ 'now'|date('Y') }} & Symfony 4 </p>
    </div>
</footer>
{% endblock %}
