{% extends 'base.html.twig' %}

{% block body %}

<img class="img-fluid" src="{{ 'upload/snowboard2.png' }}" alt="">

<br/>
    <div class="container">
        <a href="{{ path('home', {'_fragment':'album'}) }}" class="btn btn-outline-warning btn-sm float-right">Voir les articles</a>
        <h1>Bienvenue sur SnowTricks !</h1> 
    </div>

<div class="album py-5 bg-light">
        <a name="album" id="album"></a>
        <div class="container" >
          <div class="row">

          {% for article in pagination.data %}

              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="img-thumbnail" style="width: 100; height: 150px; margin: 0 auto; margin-top: 15px;" src="{{ asset("upload/" ~ article.image) }}">

                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="{{ path('blog_show', {'slug': article.slug}) }}" class="btn btn-sm btn-outline-secondary">{{ article.title}}</a>
                      </div>
                      <div class="btn-group">
                        <a href="{{ path('blog_update', {'slug': article.slug}) }}"><img src="{{ asset('upload/crayon.png') }}" data-toggle="tooltip" style="margin-right: 30px";></a> 
                        <a href="{{ path('blog_delete', {'id': article.id}) }}"><img src="{{ asset('upload/Poubelle.png') }}" data-toggle="tooltip";></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          {% endfor %}

          </div>
          <div class="d-flex justify-content-center">
              {% set page = pagination.page %}
              {% set pages = pagination.pages %}
              <ul class="pagination">
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                  <a class="page-link" href="{{path('home', {'page': page - 1})}}">&laquo;</a>
                </li>
                
                {% for i in 1..pages %}
                <li class="page-item {% if page == i %}active{% endif %}">
                  <a class="page-link" href="{{path('home', {'page': i})}}">{{ i }}</a>
                </li>
                {% endfor %}
                
                <li class="page-item {% if page == pages %}disabled{% endif %}">
                  <a class="page-link" href="{{path('home', {'page': page + 1})}}">&raquo;</a>
                </li>
              </ul>
          </div>
        </div>
  </div>                
 
{% endblock %}
