{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <article>
        <h2>{{ article.title }}</h2>
    </br>
        <div class="metadata">Ecrit le&nbsp;&nbsp;{{ article.createdAt | date('d/m/Y') }}&nbsp;&nbsp; à &nbsp;&nbsp;{{ article.createdAt | date('H:i') }}</div>
        <div class="content">
            <br/>
            <br/>
            <img style="width: 300; height: 450px; margin: 0 auto; margin-top: 15px;" src="{{ asset("upload/" ~ article.image) }}" alt="">
            <br/>
            <br/>
            {{ article.content }}
            <br/>
            <br/>
        </div>
    </article>
</div>

<div class="container">
        <hr>
        <h3>Commentaires</h3>
    </br>
    <table>
        {% for comment in pagination.data %}
            <div class= bg-light rounded mb-4>
            <h4><strong>{{ comment.user.pseudo }}</strong></h4>
              <div class="comment">
                <div class="row">
                    <div class="col-4">
                        Ecrit le&nbsp;&nbsp;{{ comment.createdAt | date('d/m/Y') }}&nbsp;&nbsp; à &nbsp;&nbsp;{{ comment.createdAt | date('H:i') }}&nbsp;&nbsp;
                    </div>
                    <div class="col-8">
                        {{ comment.content | raw }}

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ path('blog_signal', {'id': comment.id}) }}" class="btn btn-warning float-right">Signaler</a>
                    {% endif  %}                    
                    </div>
                </div>
              </div>
            </div>
            </br>
        {% else %}
            <p>Pas de commentaire pour l'instant ...</p>
        {% endfor %}
    </table>
    </br>
    </br>
        
    <div class="d-flex justify-content-center">
      {% set page = pagination.page %}
      {% set pages = pagination.pages %}
      <ul class="pagination">
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
          <a class="page-link" href="{{path('blog_show', {'page': page - 1, id: article.id})}}">&laquo;</a>
        </li>
        
        {% for i in 1..pages %}
        <li class="page-item {% if page == i %}active{% endif %}">
          <a class="page-link" href="{{path('blog_show', {'page': i, id: article.id})}}">{{ i }}</a>
        </li>
        {% endfor %}
        
        <li class="page-item {% if page == pages %}disabled{% endif %}">
          <a class="page-link" href="{{path('blog_show', {'page': page + 1, id: article.id})}}">&raquo;</a>
        </li>
      </ul>
    </div>

    <div>
        <hr>
        <h3>Nouveau commentaire</h3>
    </div>
    </br>
    
    {% if is_granted('ROLE_USER') %}
    
    {{ form_start(formComment) }}
    <br>
    {{ form_row(formComment.content, {'label': 'Commentaire', 'attr': {'placeholder': "Votre commentaire ..."}}) }}
    <br>
    <button type="submit" class="btn btn-success">Ajouter</button>
    <br>
    {{ form_end(formComment) }}
    
    {% else %}
    
        <h4 class="display-6 text-center text-danger p-md-3">Pour écrire un commentaire, vous devez vous connecter !</h4>
    
    {% endif  %}
</div>
{% endblock %}

{% block footer %}
<footer class="text-muted">
    <div class="container">
        <a href="{{ path('home', {'_fragment':'album'}) }}" class="btn btn-outline-warning btn-sm float-right">Retour</a>
        <p>Site construit à l'aide de Bootstrap &copy; {{ 'now'|date('Y') }} & Symfony 4 </p>
    </div>
</footer>
{% endblock %} 