{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
<div>
    <h1>Modifier cet article</h1>
</div>

{{ form_start(formArticle) }}

{{ form_row(formArticle.title) }}
{{ form_row(formArticle.content) }}
{{ form_row(formArticle.categorie) }}
{{ form_row(formArticle.file) }}

    <strong>Photos :</strong>
    <button type="button" class="btn btn-sm btn-primary btn-add" data-rel="#photos">Ajouter</button>
    <div id="photos" class="row" data-index="{{ formArticle.photos|length > 0 ? formArticle.photos|last.vars.name+1 : 0 }}" data-prototype="{{ include("trick/image.html.twig", { form: formArticle.photos.vars.prototype })|e("html_attr") }}">
        {% for photo in formArticle.photos %}
            {{ include("trick/image.html.twig", { form: photo }) }}
        {% endfor %}
    </div>
    <br>
    <strong>Vidéos :</strong>
    <button type="button" class="btn btn-sm btn-primary btn-add" data-rel="#videos">Ajouter</button>
    <div id="videos" class="row" data-index="{{ formArticle.videos|length > 0 ? formArticle.videos|last.vars.name+1 : 0 }}" data-prototype="{{ include("trick/video.html.twig", { form: formArticle.videos.vars.prototype })|e("html_attr") }}">
        {% for video in formArticle.videos %}
            {{ include("trick/video.html.twig", { form: video }) }}
        {% endfor %}
    </div>
<button type="submit" class="btn btn-success">Modifier</button>

{{ form_end(formArticle) }}
</div>
<br>
{% endblock %}

{% block footer %}
<footer class="text-muted">
    <div class="container">
        <a href="{{ path('home', {'_fragment':'album'}) }}" class="btn btn-outline-warning btn-sm float-right">Retour</a>
        <p>Site construit à l'aide de Bootstrap &copy; {{ 'now'|date('Y') }} & Symfony 4 </p>
    </div>
</footer>
{% endblock %}
